/*
=============== 
Fonts
=============== */
@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

/*
=============== 
Variables
=============== */
:root {
   --clr-white: #fff;
   --clr-black: #222;
   --ff-secondary: "Open Sans", sans-serif;
  --text-clr: #4C5454;
  --page-background: #4C5454;
  --text-input: #EEE5E9;
  --input-hover: #FCF5C7;
  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-orange: #FEA82F;
  --clr-red: #FF2E00;
  --main-green: #28a745;
  --transition: all 0.3s linear;
  --spacing: 0.25rem;
  --radius: 0.5rem;
}
/*
=============== 
Global Styles
=============== */

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--ff-secondary);
  background: var(--page-background);
  line-height: 1.5;
  font-size: 1rem;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
img:not(.logo) {
  width: 100%;
}
img {
  display: block;
}

h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
  font-family: "Roboto", sans-serif;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
  color: var(--clr-grey-5);
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}
/*  global classes */

.btn {
  text-transform: uppercase;
  background: transparent;
  color: var(--clr-black);
  padding: 0.375rem 0.75rem;
  letter-spacing: var(--spacing);
  display: inline-block;
  transition: var(--transition);
  font-size: 0.875rem;
  border: 2px solid var(--clr-black);
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: var(--radius);
}
.btn:hover {
  color: var(--clr-white);
  background: var(--clr-black);
}

/* Main section */
.section {
  padding: 5rem 0;
}

@media screen and (min-width: 992px) {
  .section-center {
    width: 95vw;
  }
}

main {
  min-height: 100vh;
  display: grid;
  place-items: center;
}
/*
=============== 
Gratitude List
===============
*/
.section-center {
  border-radius: var(--radius);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  transition: var(--transition);
  padding: 2rem;
  background-color: rgba(255,255,255, 0.5);
  width: 90vw;
  margin: 0 auto;
  max-width: 35rem;
  margin-top: 12rem;
  box-shadow: 5px 0px 20px rgb(46, 45, 45);
}
.section-center:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}
.alert {
  margin-bottom: 1rem;
  height: 1.25rem;
  display: grid;
  align-items: center;
  text-align: center;
  font-size: 0.7rem;
  border-radius: 0.25rem;
  letter-spacing: var(--spacing);
  text-transform: capitalize;
}
.alert-danger {
  color: var(--clr-red);
  background: rgba(255,255,255, 0.5);
}
.alert-success {
  color: var(--main-green);
  background-color: rgba(255,255,255, 0.5);
}
.gratitude-form h3 {
  font-size: 2.3rem;
  margin-bottom: 1.5rem;
  text-align: center;
  font-weight:bolder;
  color: var(--text-clr);
  text-shadow: 0px 0px 6px rgba(255,255,255,0.7);
}
.form-control {
  display: flex;
  justify-content: center;
  height:3rem;
}

#gratitude {
  padding: 0.25rem;
  padding-left: 1rem;
  background: var(--clr-white);
  border-top-left-radius: var(--radius);
  border-bottom-left-radius: var(--radius);
  border-color: transparent;
  font-size: 1rem;
  flex: 1 0 auto;

}
#gratitude::placeholder {
  font-style: italic;
}
.submit-btn {
  background: var(--main-green);
  color:var(--clr-white);
  border-color: transparent;
  flex: 0 0 5rem;
  display: grid;
  align-items: center;
  padding: 0.25rem;
  text-transform: capitalize;
  letter-spacing: 2px;
  border-top-right-radius: var(--radius);
  border-bottom-right-radius: var(--radius);
  cursor: pointer;
  content: var(--clr-primary-5);
  transition: var(--transition);
  font-size: 0.85rem;
}
.submit-btn:hover {
  background: #1a612b !important;
  color: var(--clr-white);
}

.gratitude-container {
  margin-top: 2rem;
  transition: var(--transition);
  visibility: hidden;
}
.show-container {
  visibility: visible;
}
.gratitude-item {
  background-color: var(--clr-white);
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.5rem;
  transition: var(--transition);
  padding: 0.25rem 1rem;
  border-radius: var(--radius);
  text-transform: capitalize;
}
.gratitude-item:hover {
  color: var(--clr-orange);
  background: var(--input-hover);
}
.gratitude-item:hover .title {
  color: var(--clr-grey-5);
}
.title {
  margin-bottom: 0;
  color: var(--text-clr);
  letter-spacing: 2px;
  transition: var(--transition);
}
.edit-btn,
.delete-btn {
  background: transparent;
  border-color: transparent;
  cursor: pointer;
  font-size: 0.7rem;
  margin: 0 0.15rem;
  transition: var(--transition);
}
.edit-btn {
  color: var(--main-green);
}
.edit-btn:hover {
  color: var(--btn-submit);
}
.delete-btn {
  color: var(--clr-red-light);
}
.delete-btn:hover {
  color: var(--clr-red-dark);
}
.clear-btn {
  text-transform: capitalize;
  width: 10rem;
  height: 2rem;
  display: grid;
  align-items: center;
  border:2px solid grey;
  border-radius: var(--radius);
  margin: 0 auto;
  font-size: 0.95rem;
  cursor: pointer;
  transition: var(--transition);
  margin-top: 1.25rem;
  background-color:var(--clr-white);
  color:rgba(54, 54, 54, 0.87);;
}
.clear-btn:hover {
  color: var(--clr-red);
}

.btn-bg-container{
  margin:2rem;
  position:absolute;
  top:0;
  left:0;
}

.btn-bg-change{
  padding:0.7rem;
  border-radius: var(--radius);
  font-family: var(--ff-secondary);
  font-size: 0.95rem;
  background-color:var(--clr-white);
  color:var(--main-green);
  box-shadow: 5px 0px 20px rgb(46, 45, 45);
}
.btn-bg-change:hover{
  background-color:rgba(54, 54, 54, 0.87);
  color:var(--clr-white);
}


/* MODAL END */

.affirmation-container {
  display:flex;
  align-items:center;
  justify-content:center;
  margin-top:8rem;
  margin-bottom:-3rem;
  padding: 0 5%;
  box-shadow: 1 20px 0 rbga(252, 169, 169, 0.6);
}
.affirmation-text{
  font-size:2rem;
  color:var(--clr-white);
  text-align:center;
  font-style:italic;
  text-shadow: 10px 10px 25px rgba(245, 245, 245),
    -10px 10px 25px rgba(245, 245, 245),
    -10px -10px 25px rgb(245, 245, 245),
    10px -10px 25px rgb(245, 245, 245);
}

@media screen and (min-width: 760px) {
  .affirmation-container {
    padding: 0 15%;
  }
}

@media screen and (max-width: 600px){
  .affirmation-container {
    margin-bottom:-10rem;
  }
}

/* 
===============
Video Background
=============== */
video {
  position:fixed;
  left:0;
  top:0;
  height:100%;
  width:100%;
  z-index:-1;
  display:block;
  object-fit:cover;
}

/* 
===============
MUSIC PLAYER:
=============== */
.music-container{
    background-color:rgba(54, 54, 54, 0.87);
    border-radius:15px;
    /* box-shadow: 1 20px 0 rbga(252, 169, 169, 0.6); */
    display:flex;
    position:fixed;
    padding:20px 20px;
    margin:70px 20px;
    z-index:10;
    bottom:0;
    left:0;
    width:270px;
    box-shadow: 5px 0px 20px rgb(46, 45, 45);
    transition: var(--transition)
}

@media screen and (max-width: 1140px) {
  .music-container {
    position:relative;
  }
}

@media screen and (max-width: 760px) {
  .music-container {
    position:relative;
    left: 50%;
    transform: translate(-55%);
  }
}

.img-container {
    position:relative;
    width:100px;
    margin-bottom:10px;
}

.img-container img{
    width:inherit;
    height:85px;
    width:85px;
    border-radius: 50%;
    border:1px solid rgb(199, 199, 199);
    object-fit: cover;
    position:absolute;
    bottom:0;
    left:0;
    animation: rotate 3s linear infinite;
    animation-play-state: paused;
    z-index:10;
}

.music-container.play .img-container img{
    animation-play-state: running;
}

@keyframes rotate{
    from {
        transform: rotate(0deg)
    }
    to{
        transform: rotate(360deg)
    }
}

.navigation {
    display:flex;
    align-items:center;
    justify-content:center;
    z-index: 1;
}

.action-btn {
    background-color: transparent;
    border:0;
    padding:10px;
    margin: 0 5px;
    color: #dfdbdf;
    font-size:20px;
    cursor: pointer;
}
.action-btn :hover {
  color:grey;
}

.action-btn-big{
    color: #cdc2d0;
    font-size:30px;
}

.action-btn:focus {
    outline: 0;
}

.music-info {
    background-color: rgba(255,255,255, 0.5);
    border-radius:15px 15px 0 0;
    position:absolute;
    top:0;
    left: 20px;
    width: calc(100% - 40px);
    opacity:0;
    transform: translateY(0%);
    padding:10px 10px 10px 85px;
    transition: transform 0.3s ease-in, opacity 0.3s ease-in;
    box-shadow: 5px 0px 20px rgb(46, 45, 45);
    height:60px;
}

.music-info h4 {
    margin:0;
    font-size:0.875rem;
}

.music-container.play .music-info{
    transform: translateY(-100%);
    opacity:1;
}

.progress-container{
    background:var(--clr-white);
    /* color:black; */
    cursor: pointer;
    border-radius: 5px;
    margin:10px 0;
    height: 5px;
    width:100%;
}

.progress{
    background-color:var(--main-green);
    border-radius:5px;
    height:100%;
    width:0%;  // JS code increases width as it plays
    transition: width 0.1s linear
}

/*
=============== 
Modal
===============
*/
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color:rgba(54, 54, 54, 0.87);
  display: grid;
  place-items: center;
  transition: var(--transition);
  visibility: hidden;
  z-index: -10;
}

.btn-info-container {
  margin:2rem; 
  position:absolute;
  top:0;
  right:0;
}

.modal-btn i{
    cursor: pointer;
    color:var(--clr-orange);
    /* border:1px solid black; */
    /* padding:-1px; */
    border-radius: 50%;
    box-shadow: 5px 0px 20px rgb(46, 45, 45);
}

.btn-info i:hover{
  color:var(--clr-white);
}

/* OPEN/CLOSE MODAL */
.open-modal {
  visibility: visible;
  z-index: 10;
}
.modal-container {
  justify-content: center;
  padding:25px;
  background: var(--clr-white);
  border-radius: var(--radius);
  width: 85vw;
  height: 40vh;
  text-align: center;
  place-items: center;
  position: relative;
}
@media screen and (max-width: 760px) {
  .modal-container {
    height: 50vh;
  }
}

@media screen and (max-width: 380px) {
  .modal-container {
    height:65vh;
  }
}

.modal-container p {
  line-height:normal;
}
.close-btn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 2rem;
  background: transparent;
  border-color: transparent;
  color: var(--clr-red);
  cursor: pointer;
  transition: var(--transition);
}
.close-btn:hover {
  color: var(--clr-black);
  transform: scale(1.3);
}